<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  </head>
  <body>
    <div class="form-container">
      <div class="back-button">
        <%= link_to 'Voltar', guests_family_invite_path, class: 'btn btn-secondary' %>
      </div>
      <%= form_with(model: @guest, url: create_family_presence_path) do |f| %>
        <% if f.object.errors.any? %>
          <div class="alert alert-danger">
            <strong>Error:</strong> <%= pluralize(f.object.errors.count, "error") %>
          </div>
        <% end %>
        <div class="form-group">
          <%= f.label :name, class: "control-label" %>
          <%= f.text_field :name, class: "form-control", required: true %>
        </div>
        <div class="form-actions">
          <%= f.submit 'Salvar', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.5.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
  </body>
</html>
